@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */

*{
  font-family: 'Sarabun', sans-serif;

}
body {
  background-color :#ebf7f7;
}

.app {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
}

.navbar {
  background-color: #02b1a7;
  color: white;
  padding: 15px;
  height: 8vh;
  text-align: center;
  font-size: 1.5em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.sub-content {
  padding: 1rem;
  background-color: #ebf7f7;
  width: 100%;
}

.sidebar {
  overflow-y: auto;
  background-color: #fff;
  width: 300px;
  height: calc(100vh - 8vh);
  display: flex;
  border-right: 0.25px solid #ddd;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  padding: 10px 0;
  cursor: pointer;
}

.sidebar .contact {
  font-size: 0.9em;
  text-align: center;
}


.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.table-container th, .table-container td {
  border: 1px solid #ddd;
}

.datepicker.dropdown-menu {
  position: relative;
  z-index: 9999 !important;
}
